<%= form_for(article, url: article_path(:key => article.key), local: true) do |form| %>
  <% if article.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(article.errors.count, "error") %> prohibited this article from being saved:</h2>

      <ul>
      <% article.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <%# text_area_tag 'pmids', '', {:placeholder => 'Enter a list of PMIDs comma- or space-separated', :class => 'form-control'} %>
  <%# hidden_field_tag 'workspace_key', @workspace.key %>

  <%= form.check_box 'large_scale' %> Large scale study
  
  <div class="actions mt-2">
    <%= form.submit 'Submit' %>
    <!-- <button id='submit' type='submit' class='btn btn-primary'>Add articles</button> -->
  </div>
<% end %>
