<p id="notice"><%= notice %></p>

<h1>Assertion Types</h1>

<table>
  <thead>
    <tr>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @assertion_types.each do |assertion_type| %>
      <tr>
        <td><%= link_to 'Show', assertion_type %></td>
        <td><%= link_to 'Edit', edit_assertion_type_path(assertion_type) %></td>
        <td><%= link_to 'Destroy', assertion_type, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Assertion Type', new_assertion_type_path %>
