<p id="notice"><%= notice %></p>

<h1>Banned Orcid Users</h1>

<table>
  <thead>
    <tr>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @banned_orcid_users.each do |banned_orcid_user| %>
      <tr>
        <td><%= link_to 'Show', banned_orcid_user %></td>
        <td><%= link_to 'Edit', edit_banned_orcid_user_path(banned_orcid_user) %></td>
        <td><%= link_to 'Destroy', banned_orcid_user, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Banned Orcid User', new_banned_orcid_user_path %>
