<h2>Sign up</h2>

<div class='alert alert-info'>
  Please note that your email will be displayed to identify your posts on the application if you do not enter a user name.
</div>

<%= form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
  <%= render "devise/shared/error_messages", resource: resource %>

  <div class="field mt-3">
    <%= f.label :email %><br />
    <%= f.email_field :email, autofocus: true, autocomplete: "email" %>
  </div>

  <div class="field mt-3">
    <%= f.label :password %>
    <% if @minimum_password_length %>
    <em>(<%= @minimum_password_length %> characters minimum)</em>
    <% end %><br />
    <%= f.password_field :password, autocomplete: "new-password" %>
  </div>

  <div class="field mt-3">
    <%= f.label :password_confirmation %><br />
    <%= f.password_field :password_confirmation, autocomplete: "new-password" %>
  </div>

  <div class="field mt-3">
    <%= f.label :username, "Username (Leave it blank if you accept to use your ORCID name to sign your comments, otherwise you can post anonymously by entering a nickname here)" %><br />
    <%= f.text_field :username, autofocus: true, autocomplete: "username" %>
    <small><span class='text-danger'>Optional</span></small>
  </div>


  <div class="actions">
    <%= f.submit "Sign up" %>
  </div>
<% end %>

<%= render "users/shared/links" %>
