<% if shareable? @workspace %>
<label>Permissions</label>

<table id='share_table'>
<thead>
<tr id='shares_header' class='<%# (@shares.size == 0) ? 'hidden' : '' %>'>
<th>Emails</th>
<th>View</th>
<th>Comment</th>
<th>Annotate</th>
<th>Share</th>
<th>Edit</th>
</thead>
<tbody>
<tr>
<td>Me</td>
<td><%= check_box_tag "view_perm", '1', true, {:disabled => true, :class => ''} %></td>
<td><%= check_box_tag "comment_perm", '1', true, {:disabled => true} %></td>
<td><%= check_box_tag "annot_perm", '1', true, {:disabled => true} %></td>
<td><%= check_box_tag "share_perm", '1', true, {:disabled => true} %></td>
<td><%= check_box_tag "edit_perm", '1', true, {:disabled => true} %></td>
<td></td>
</tr>

<% i = -1 %>
<% @shares.each_index do |i| %>
<% s = @shares[i] %>
<tr id='share_<%= s.id %>'>
<td>
<%= s.email %>
<% u = s.user %>
<%# text_field_tag "shares[#{s.id}][email]", (s.user) ? s.user.email : s.email, {:class => 'form-control'} %>
</td>
<td><%= check_box_tag "shares[#{s.id}][view_perm]", '1', s.view_perm, {:disabled => true} %></td>
<td><%= check_box_tag "shares[#{s.id}][comment_perm]", '1', s.comment_perm %></td>
<td><%= check_box_tag "shares[#{s.id}][annot_perm]", '1', s.annot_perm %></td>
<td><%= check_box_tag "shares[#{s.id}][share_perm]", '1', s.share_perm %></td>
<td><%= check_box_tag "shares[#{s.id}][edit_perm]", '1', s.edit_perm %></td>
<td></td>
<td>
  <!--  <button type='button' class='btn btn-sm btn-success send_invite'>Activate & Send invitation</button> -->
  <button id='del-share_<%= s.id %>' type='button' class='btn btn-sm btn-danger delete_share'>Delete</button>
  <% if banned_user? s, u, @workspace %>
  <span class='text-danger'>Banned</span>
  <button id='unban-btn_<%= s.id %>' type='button' class='btn btn-sm btn-secondary unban-btn'>Unban</button>
  <% else %>
 
  <button id='ban-btn_<%= s.id %>' type='button' class='btn btn-sm btn-danger ban-btn'>Ban</button>
  <% end %>
</td>
</tr>
<% end %>
<tr id='new_email' class='hidden'>
<td><%= text_field_tag "share[email]", '', {:placeholder => 'New email', :class => 'form-control', :id => 'email_field'} %></td>
<td><%= check_box_tag "share[view_perm]", '1', true, {:disabled => true} %></td>
<td><%= check_box_tag "share[comment_perm]", '1', false %></td>
<td><%= check_box_tag "share[annot_perm]", '1', false %></td>
<td><%= check_box_tag "share[share_perm]", '1', false %></td>
<td><%= check_box_tag "share[edit_perm]", '1', false %></td>
<td>
<button type='button' id='invite_button' class='hidden btn btn-sm btn-success send_invite'>Send invitation</button>
<span id='email_status'></span>
</td>
</tr>
</tbody>
</table>
<button type='button' id='add_email_button' class='btn btn-primary btn-sm'>Add new email</button>

<%= javascript_tag do %>

$(".unban-btn").click(function(){
  let t = this.id.split("_")
  let url = "<%= shares_path %>/" + t[1] + "/unban"
  refresh_post("share_container", url, [], 'post', {loading:'fa-2x'})
})

$(".ban-btn").click(function(){
  let t = this.id.split("_")
  let url = "<%= shares_path %>/" + t[1] + "/ban"
  refresh_post("share_container", url, [], 'post', {loading:'fa-2x'})
})

$(".delete_share").click(function(){
  let t = this.id.split("_")
  let url = "<%= shares_path %>/" + t[1]
  refresh_post("share_container", url, [], 'delete', {loading:'fa-2x'});
})


function validateEmail(email) {
  var re = /^(([^<>()[\]\\.,;:\s@\"]+(\.[^<>()[\]\\.,;:\s@\"]+)*)|(\".+\"))@((\[[0-9]{1,3}\.[0-9]{1,3}\.[0-9]{1,3}\.[0-9]{1,3}\])|(([a-zA-Z\-0-9]+\.)+[a-zA-Z]{2,}))$/;
  return re.test(email);
}

function validate() {
  var $result = $("#email_status");
  var email = $("#email_field").val();
  $result.text("");

  valid = false

  if (validateEmail(email)) {
    $result.text("Valid email.");
    $result.css("color", "green");
        $("#invite_button").removeClass('hidden')
    valid = true
  } else {
    $result.text("Please enter a valid email.");
    $result.css("color", "red");
        $("#invite_button").addClass('hidden')
  }
  return valid;
}


$("#email_field").blur(function(){
 validate()
});

$("#add_email_button").click(function(){
 $("#submit_project").attr("disabled", true);
 $("#new_email").removeClass("hidden");
 $(this).addClass("hidden");
 <% if @shares.size == 0 %>
 // display empty fields
 $("#shares_header").removeClass("hidden");
 <% else %>
 // send last entered email
 <% end %>
})

$("#email_field").keyup(function(){
 //let email = $(this).val();
 // $("#email_field").val($.trim($("#email_field").val().toLowerCase()));
 validate()
})

$("#email_field").change(function(){
 validate()
})

$("#invite_button").click(function(){
 if (validate() == true){
  let url = "<%= shares_path %>"
  let p = [];
  p.push({name : 'share[email]', value : $.trim($("#email_field").val().toLowerCase())});
  let t = ['view', 'comment', 'annot', 'share', 'edit']
  for (let i=0; i<t.length; i++){
   p.push({name : 'share[' + t[i] + '_perm]', value : ($("#share_" + t[i] + "_perm").prop("checked") == true) ? true : false});
  }
  p.push({name : 'workspace_key', value : '<%= @workspace.key %>'})
  refresh_post("share_container", url, p, 'post', {loading:''});
 } else{
  alert("Current email is not valid.")
 }
})

$("#submit_project").attr("disabled", false);

<% end %>

<% end %>
