<p id="notice"><%= notice %></p>

<h1>Assessment Types</h1>

<table>
  <thead>
    <tr>
      <th>Name</th>
      <th>Icon classes</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @assessment_types.each do |assessment_type| %>
      <tr>
	<td><%= assessment_type.name %></td>
	<td><%= assessment_type.icon_classes %></td>
        <td><%= link_to 'Show', assessment_type %></td>
        <td><%= link_to 'Edit', edit_assessment_type_path(assessment_type) %></td>
        <td><%= link_to 'Destroy', assessment_type, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Assessment Type', new_assessment_type_path %>
