<p id="notice"><%= notice %></p>

<h1>Reason Types</h1>

<table>
  <thead>
    <tr>
      <th>Name</th>
      <th></th>
      <th></th>
      <th></th>
    </tr>
  </thead>

  <tbody>
    <% @reason_types.each do |reason_type| %>
    <tr>
      <td><%= reason_type.name %></td>
      <td><%= link_to 'Show', reason_type %></td>
      <td><%= link_to 'Edit', edit_reason_type_path(reason_type) %></td>
      <td><%= link_to 'Destroy', reason_type, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Reason Type', new_reason_type_path %>
