<p id="notice"><%= notice %></p>

<h1>Assertion Versions</h1>

<table>
  <thead>
    <tr>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @assertion_versions.each do |assertion_version| %>
      <tr>
        <td><%= link_to 'Show', assertion_version %></td>
        <td><%= link_to 'Edit', edit_assertion_version_path(assertion_version) %></td>
        <td><%= link_to 'Destroy', assertion_version, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Assertion Version', new_assertion_version_path %>
